/*traigo elemento (alguna etiqueta de html), propiedad y valor*/

/*General - para que se aplique a toda la pagina*/
 
/*Enlaces*/

    a {
        text-decoration: none;
        color: rgb(110, 101, 101);
        font-family: monospace;
        font-size: 20px;
    }
    
    li {
        list-style: none;
    }
    
    /*Navbar*/
    header {
        display: flex;
        height: 80px;
        width: 100%;
        background-color: rgb(240, 221, 221);
    }
    
    .contenedor-logo { 
        width: 30%;
        font-size: 55px;
    }
    
    .contenedor-logo span {
       margin-left: 50px;
    }
    
    nav{
        display: flex;
        width: 75%;
        height: 100%;
        
        align-items: center;
    }
    
    nav ul {
        display: flex;
        margin: 0 auto;
    }
    
    nav ul li {
        padding: 12px;
    }
    
    h1 {
        color: rgb(112, 105, 105);
        font-size: 50px;
        margin: 10px 10px 10px 50px;
    }
    
    /*Contenido principal - index.html*/
    
    
    main {
        h4 {
            font-style: ;
        }
    
        .frase2 {
            font-size: 25px;
            font-style: italic;
           
        }
        /*video*/
        iframe {
            margin: 10px, 300px, 200px, 200px
        }
        
    }
   
    
    /* si quiero aplicar formatos por secciones utilizo la etiqueta section y dentro parrafo Ej: 
    */
    
   
    
    /* ESTILOS DEL HTML "BUSCAR"*/
    
    .grid-container {
        display: grid;
        /*"auto" como una misma unidad de medida para todas*/
        grid-template-columns: auto auto auto; 
        grid-template-rows: repeat(3, 100px);
       
        /*Espacios entre filas y columnas*/
        row-gap: 10px;
        column-gap: 10px;
    }
    
    .grid-container .grid-item {
    font-size: 21px;
    padding: 5px;
    }
    
    /*Ajustar ancho y alto de imagenes*/
    img{
        width: 100%;
        height: 100%;
    }
    
    /*Proporcionar correctamente las imagenes, utilizando la clase asignadas en este caso (uno, dos y tres)*/
    .uno{
        grid-row: 1 / 4;
    }
    .dos{
        grid-row: 1 / 4;
    }
    .tres{
        grid-row: 1 / 4;
    }
    
    /*Caja*/
    .caja{
        background-color: rgb(247, 253, 252);
        width: 100%;
        height: 100px;
        margin: 5px 5px 5px 5px;
        padding-left: 100px;
       
    }
     
    
    /*Footer*/
  
    .menu-container{
        background-color: rgb(178, 179, 171);
        width: 100%;
        height: 100px;
        margin: 5px 5px 5px 5px;
        padding-left: 100px;
        flex-wrap: wrap;
    }
    .menu {
        display: flex;
        justify-content: space-around; 
    }
    
/*Media queries*/

/*Mobile*/
@media only screen and (max-width: 500px) {
    body {
        background-color: rgb(235, 148, 201);
    }
}

/*Tablet*/
@media only screen and (min-width: 501px) and (max-width: 960) {
    body {
        background-color: rgb(243, 179, 222);
    }
}

/*Desktop*/
@media only screen and (min-width: 961px) {
    body {
        background-color: rgb(243, 233, 235);
    }
}